.omi-header-icon { font-size: 20px; color: #ffffff; display: inline-block; margin: 0 5px;  }
.Omi-Warnings{float:right;}
body .ui-widget-header { font-size: 16pt !important; }

body .ui-widget-header span { color: #84d7c7; }
.omidetail span { font-size: 13px; margin-bottom: 10px; display: block; }
body .ui-widget-header { background-color: #3F51B5; color: #aaaaaa !important; font-size: 1em; border: 1px solid #3F51B5; }
