<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-12">
        <div class="card">
            <h1>Plant Manager Dasboard</h1>

            <div class="ui-g-12 ui-md-3 DashComp">
                <h2>62.1 <span>%</span></h2>
                <p>OEE</p>
                <ul class="bg1">
                    <li></li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-3 DashComp">
                <h2>79.6 <span>%</span></h2>
                <p>Availability</p>
                <ul class="bg2">
                    <li></li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-3 DashComp">
                <h2>92.9 <span>%</span></h2>
                <p>Quality</p>
                <ul class="bg3">
                    <li></li>
                </ul>
            </div>
            <div class="ui-g-12 ui-md-3 DashComp brNone">
                <h2>84.0 <span>%</span></h2>
                <p>Performance</p>
                <ul class="bg4">
                    <li></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


    <div class="ui-g-12 ui-md-12">
        <div class="card">
            <h1>OEE  + Components by Day</h1>
            <p-chart type="line" [data]="chartData" responsive="true" height="400"></p-chart>
        </div>
    </div>


    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1>Unplanned Downtime by Shift </h1>
            <p-chart type="bar" [data]="barData1" [options]="dtShiftOptions" height="200"></p-chart>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1>Downtime Count Duration by Machine</h1>
            <p-chart type="bar" [options]="dtMachineOptions" [data]="barData2" height="200"></p-chart>
        </div>
    </div>

    <!--Çoklu Sensör Verisi-->
    <div class="ui-g-12 ui-lg-4">
        <div class="card">
            <h1>Multiple Sensor Data  </h1>
            <p-chart type="line" [data]="barData4" responsive="true" height="200"></p-chart>
        </div>
    </div>

    <!--Plan HighChart-->
    <div class="ui-g-12 ui-md-12">
        <div class="card">
            <highcharts-chart [Highcharts]=Highcharts
                              [options]="chartOptions"
                              [constructorType]="constructorType"
                              type="column"
                              style="width: 100%; height:100% ; display: block;">
            </highcharts-chart>
        </div>
    </div>
    
</div>
