$primaryColor: #182672;
$primaryDarkColor: #162264;
$primaryLightColor: #47528f;
$accentColor: #85d8c8;
$accentDarkColor: #78c2b4;
$accentLightColor: #ceefe9;
$accentTextColor: #e7f7f4;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #757dab;
$lightMenuRouterLinkActiveColor: #182672;
$horizontalLightMenuRouterLinkActiveColor: #47528f;

@import '../../sass/layout/_layout';
