<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="doruk-repo" value="http://drk-nexus:8081/repository/nuget-group/" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>