$primaryColor: #192773;
$primaryDarkColor: #162264;
$primaryLightColor: #47528f;
$accentColor: #85d8c8;
$accentDarkColor: #78c2b4;
$accentLightColor: #ceefe9;
$accentTextColor: #e7f7f4;

@import '../sass/theme/_theme';
