<div class="p-grid">
    <div class="p-col-6 card">
        <app-dx-data-grid></app-dx-data-grid>
    </div>

    <div class="p-col-6 card">
        <app-hircharts-demo></app-hircharts-demo>
    </div>

</div>
<div class="p-grid">
    <div class="p-col-2 card">2 </div>
    <div class="p-col-2 card">2 </div>
    <div class="p-col-2 card">2 </div>
    <div class="p-col-2 card">2 </div>
    <div class="p-col-2 card">2 </div>
    <div class="p-col-2 card">2 </div>

</div>

<div class="p-grid">
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>
    <div class="p-col-1 card">1 </div>


</div>

